<div id="nav" class="flex justify-between p-3">
  <div class="flex justify-start">
    <a class="text-primary-500  background-transparent font-bold uppercase px-5 py-3 text-center outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease" routerLink="/posts">📖&nbsp;Posts</a>
    <a class="text-primary-500  background-transparent font-bold uppercase px-5 py-3 text-center outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease" routerLink="/about">🙋‍♂️&nbsp;About&nbsp;me</a>
    <a *ngIf="this.authService.isLoggedIn()" class="text-primary-500 background-transparent font-bold text-center uppercase px-5 py-3 outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease" routerLink="/posts/new">Create Post</a>
  </div>

  <div class="hidden sm:flex">
    <a href="https://t.me/evanilukhin">
      <img class="icon" src="/assets/images/telegram.png" target="_blank"/>
    </a>
    <a href="mailto:evanilukhin@gmail.com" target="_blank">
      <img class="icon" src="/assets/images/mail.png"/>
    </a>
    <a href="https://github.com/evanilukhin" target="_blank">
      <img class="icon" src="/assets/images/github.png"/>
    </a>
    <a href="https://www.linkedin.com/in/ivan-ilyukhin-41329a13b/" target="_blank">
      <img class="icon" src="/assets/images/linkedin.png"/>
    </a>
  </div>
</div>
