<div id="nav" class="flex items-start justify-between flex-wrap p-3">
  <div class="flex">
    <a class="border rounded text-primary-500 border-primary-700 background-transparent font-bold uppercase px-5 py-3 outline-none focus:outline-none mr-1 mb-1 hover:bg-red-700" type="button" style="transition: all .15s ease" routerLink="/posts">📖 Posts</a>
    <a class="border rounded text-primary-500 border-primary-700 background-transparent font-bold uppercase px-5 py-3 outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease" routerLink="/about">🙋‍♂️ About me</a>
    <div *ngIf="this.authService.isLoggedIn()">
      <a class="border rounded text-primary-500 border-primary-700 background-transparent font-bold uppercase px-5 py-3 outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease" routerLink="/posts/new">Create Post</a>
    </div>
  </div>

  <div class="flex">
    <a href="https://steamcommunity.com/id/a01011001" target="_blank">
      <img class="icon" src="/assets/images/steam.png"/>
    </a>
    <a href="https://t.me/evanilukhin">
      <img class="icon" src="/assets/images/telegram.png" target="_blank"/>
    </a>
    <a href="mailto:evanilukhin@gmail.com" target="_blank">
      <img class="icon" src="/assets/images/mail.png"/>
    </a>
    <a href="https://github.com/evanilukhin" target="_blank">
      <img class="icon" src="/assets/images/github.png"/>
    </a>
    <a href="https://www.linkedin.com/in/ivan-ilyukhin-41329a13b/" target="_blank">
      <img class="icon" src="/assets/images/linkedin.png"/>
    </a>
  </div>
</div>
