
<div class="mx-2">
  <div class="flex sm:hidden justify-between">
    <a href="https://t.me/evanilukhin">
      <img class="sn-icon" src="/assets/images/telegram.png" target="_blank"/>
    </a>
    <a href="mailto:evanilukhin@gmail.com" target="_blank">
      <img class="sn-icon" src="/assets/images/mail.png"/>
    </a>
    <a href="https://github.com/evanilukhin" target="_blank">
      <img class="sn-icon" src="/assets/images/github.png"/>
    </a>
    <a href="https://www.linkedin.com/in/ivan-ilyukhin-41329a13b/" target="_blank">
      <img class="sn-icon" src="/assets/images/linkedin.png"/>
    </a>
  </div>
  <div class="flex justify-center">
    <img class="icon cursor-pointer" (click)="open()" src="/assets/images/ananas-256.png"/>
  </div>
</div>
