<div class="w-full grid grid-cols-1 gap-2 lg:grid-cols-4 ">
  <div class="flex lg:flex-col border border-gray-200 items-center rounded p-2 shadow-sm hover:shadow-lg">
    <img class="rounded-full h-32 w-32" src="assets/images/me.jpeg">
    <div class="flex-grow">
      <p class="text-gray-900 font-bold text-xl leading-8 my-1 text-center">Ivan Ilukhin</p>
      <p class="text-gray-600 font-lg text-semibold leading-6 text-center">Just trying to solve problems</p>
    </div>
  </div>
  <div class="border border-gray-200 rounded p-2 lg:col-span-3 shadow-sm hover:shadow-lg" >
    Result-oriented software engineer with more than 5 years of commercial development.
    I have interest and experience in creating systems based on microservices.
    Adore programming on the Ruby(also with Ruby on Rails) and the Elixir.
    Passionate about studying underlying mechanisms of humans behaviour, emotions, and motives.
  </div>
  <div class="border border-gray-200 rounded p-2 shadow-sm hover:shadow-lg">
    <p class="text-gray-900 font-bold text-xl leading-8 my-1 text-justify w-full" > Main Skills </p>
    <p class="text-gray-600 font-lg text-semibold leading-6" >
      Ruby • Ruby on Rails • Elixir • Angular • React • JS • Data Engineering • PostgreSQL • Erlang • Java
    </p>
  </div>
  <div class="border border-gray-200 rounded p-2 lg:col-span-3 shadow-sm hover:shadow-lg">
    <p class="text-gray-900 font-bold text-2xl leading-8 my-1 text-justify w-full" > Works </p>
    <div>
      <p class="text-gray-900 font-bold text-lg leading-8 my-1 text-justify w-full" >Demiurge</p>
      <p> My personal site and blog frontend is written with Angular and Tailwind, backend - GraphQL API on the Elixir </p>
      <div class="flex flex-col">
        <a class="w-fill flex p-3 pl-3 hover:bg-gray-200 rounded-lg" href="https://github.com/evanilukhin/demiurge-front">
          <img class="flex-none w-6 h-full" src="assets/images/github.png" />
          <span class="ml-2 truncate" title="Frontend">Frontend</span>
        </a>
        <img class="object-scale-down justify-self-center" src="assets/images/you_are_here.png">
      </div>
      <div>
        <a class="w-fill flex p-3 pl-3 hover:bg-gray-200 rounded-lg" href="https://github.com/evanilukhin/demiurge">
          <img class="flex-none w-6 h-full" src="assets/images/github.png" />
          <span class="ml-2 truncate" title="Backend">Backend</span>
        </a>
      </div>
    </div>
    <div>
      <p class="text-gray-900 font-bold text-lg leading-8 my-1 text-justify w-full" >Scaling offline business</p>
      <p> Coursera "Applied Data Science" capstone project </p>
      <div class="flex flex-col">
        <a class="w-fill flex p-3 pl-3 hover:bg-gray-200 rounded-lg" href="https://github.com/evanilukhin/Coursera_Capstone/blob/master/Scaling%20offline%20business%20-%20Notebook.ipynb">
          <img class="flex-none w-6 h-full" src="assets/images/github.png" />
          <span class="ml-2 truncate" title="Jupiter Notebook">Jupiter Notebook</span>
        </a>
      </div>
      <div>
        <a class="w-fill flex p-3 pl-3 hover:bg-gray-200 rounded-lg" href="https://github.com/evanilukhin/Coursera_Capstone/blob/master/Scaling%20offline%20business%20-%20Report.pdf">
          <img class="flex-none w-6 h-full" src="assets/images/github.png" />
          <span class="ml-2 truncate" title="Report">Report</span>
        </a>
      </div>
    </div>
    <div>
      <p class="text-gray-900 font-bold text-lg leading-8 my-1 text-justify w-full" >Usernames Declensions</p>
      <p> Small but complete project </p>
      <div>
        <a class="w-fill flex p-3 pl-3 hover:bg-gray-200 rounded-lg" href="https://github.com/evanilukhin/usernames_declensions">
          <img class="flex-none w-6 h-full" src="assets/images/github.png" />
          <span class="ml-2 truncate" title="Usernames Declensions">Usernames Declensions</span>
        </a>
      </div>
    </div>
  </div>
</div>
