<form [formGroup]="postForm" class="max-w-3/4">

  <label>
    Title:
    <input type="text" formControlName="header">
  </label>

  <br/>

  <label>
    Summary:
    <input type="text" formControlName="summary">
  </label>

  <br/>

  <label>
    Short?:
    <input type="checkbox" formControlName="short">
  </label>

  <br/>

  <label>
    Tags:
    <tag-input formControlName="tags"></tag-input>
  </label>

  <br/>

  <label class="max-w-3/4">
    Text:
    <textarea class="w-full h-16 px-3 py-2 text-base text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline"  formControlName="mainPart"></textarea>
  </label>

  <div>
    <button (click)="previewHidden = !previewHidden">
      {{this.previewHidden ? 'Show Preview' : 'Hide Preview'}}
    </button>
    <div *ngIf="!previewHidden">
      <div class="prose prose-lg max-w-3/4 self-center">
        <markdown ngPreserveWhitespaces emoji [data]="this.postForm.get('mainPart')!.value"></markdown>
      </div>
    </div>
  </div>

  <p>
    <button (click)="createPost()">Create Post</button>
  </p>
</form>
