<div *ngIf="loading">
  Loading...
</div>

<div *ngIf="posts">
  <div *ngFor="let post of posts">
    <div class="py-2">
      <div class="w-full px-6 py-4 bg-white rounded-lg shadow-md">
        <div class="flex justify-between items-center">
          <div class="flex">
            <div *ngFor="let tag of (post.tags | sort)">
              <p class="mx-1 px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded ">#{{tag}}</p>
            </div>
          </div>
          <span class="font-light text-gray-600">{{post.insertedAt | date: 'd/M/y'}}</span>
        </div>
        <div class="mt-2">
          <a routerLink="/posts/{{post.id}}" class="text-2xl text-gray-700 font-bold hover:underline">
            {{post.header}}
          </a>
          <p class="mt-2 text-gray-600"> {{post.summary}} </p>
        </div>
        <div class="flex justify-between items-center mt-4">
          <a routerLink="/posts/{{post.id}}" class="text-blue-500 hover:underline">Read more</a>
          <div *ngIf="this.authService.isLoggedIn()"><a routerLink="/posts/{{post.id}}/edit" class="text-blue-500 hover:underline" >Edit</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="w-full bg-blue-200 hover:bg-blue-100 text-primary-500 font-bold py-2 px-4 border-b-4 border-blue-100 hover:border-blue-200 rounded"  (click)="this.fetchMore()">Load more</button>
